:root {
  --cor-de-fundo: #f5f5f5;
  --cor-de-link: #000;

  --preto-100: #464646;
  --azul-100:#2a7ae4;
  --preto-branco: #FFF
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway";
  line-height: 1;
}

.all {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  padding-inline: 70px;
  background-color: var(--cor-de-fundo);
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--cor-de-link);
}

section {
}

section.menu {
  display: flex;
  padding: 32px 0px;
  justify-content: space-between;
  align-items: center;
}

section.menu header {
  display: flex;
  align-items: center;
  gap: 8px;
}

section.menu header img {
  width: 26px;
  height: 26px;
}

section.menu header .menu__title {
  color: var(--preto-100);
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

section.menu nav {
  display: flex;
  align-items: center;
  gap: 32px;
}

section.menu nav .menu__list {
  display: flex;
  padding: 32px 0px;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

section.menu nav .menu__list .menu__list__item {
  color: var(--preto-100);
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

section.menu nav .menu__list .contato {
  color: var(--preto-100);
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

section.title {
}

section.title .title__div {
  display: flex;
  width: 1136px;
  justify-content: space-between;
  align-items: center;
}

section.title .title__div .title__container {
  display: flex;
  width: 751px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;
}

section.title .title__div .title__container .title__bio {
  color: var(--preto-100);
  font-family: Raleway;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

section.title .title__div .title__container .title__subsection {
  align-self: stretch;
  color: var(--preto-100);
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

section.title .title__div .title__container .title__network {
  display: flex;
  align-items: flex-start;
  gap: 32px;
}

section.title
  .title__div
  .title__container
  .title__network
  .title__network__item {
  display: flex;
  align-items: center;
  gap: 4px;
}

section.title
  .title__div
  .title__container
  .title__network
  .title__network__item
  a {
  color: var(--preto-100);
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

section.title .title__div img.title__profile {
  width: 368px;
  height: 368px;
  flex-shrink: 0;
}

section.about {
}

section.about .about__container {
  display: flex;
  width: 1136px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

section.about .about__container .about__title {
  color: var(--preto-100);
  font-family: Raleway;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

section.about .about__container .about__paragraph {
  color: var(--preto-100);
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

section.about .about__container img {
  width: 140px;
  height: 52px;
}

section.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

section.skills .skills__title {
  color: var(--preto-100, #464646);
  text-align: center;
  font-family: Raleway;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

section.skills .skills__line {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

section.skills .skills__line .skills__box {
  display: flex;
  width: 176px;
  height: 174px;
  padding: 16px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 8px;
  background: var(--preto-branco);
}

section.skills .skills__line .skills__box .skills__img {
  color: var(--azul-100);
  text-align: center;
  font-family: Font Awesome 5 Brands;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

section.skills .skills__line .skills__box .skills__name {
  color: var(--preto-100);
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

section.hobbies {
  display: flex;
flex-direction: column;
align-items: center;
gap: 32px;
}

section.hobbies .hobbies__title{
  color: var(--preto-100);
text-align: center;
font-family: Raleway;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

section.hobbies .hobbies__line {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

section.hobbies .hobbies__line .hobbies__box{
  display: flex;
  width: 176px;
  height: 174px;
  padding: 16px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 8px;
  background: var(--preto-branco);
}

section.academic {
}

section.experience {
}

section.formcontato {
}

section.footer {
}

/*Tablet*/
@media (min-width: 768px) {
  /* Menu */

  /*title*/

  /*Skills*/

  /*Hobbies*/

  /*Experiências acadêmicas*/

  /*Expeirência profissional*/
}

/*Mobile*/
@media (min-width: 425px) {
  /*Menu*/

  /*Titulo*/

  /*Sessão sobre*/

  /*Skills*/

  /*Hobbies*/

  /*Formação Acadêmica*/

  /*Experiência Profissional*/

  /*Contato*/

  /*Footer*/
}
